<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dependencies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="jquery-3.6.0.min.js"></script>
    <script src="viz.js"></script>
</head>
<body>
    <h1>Jira issue dependency graph</h1>
<!--    <p style="white-space: pre-line" th:text="${dependencyGraph}" />-->
    <div id="graph" style="text-align: center;"></div>
    <input type="hidden" id="graphSource" th:value="${dependencyGraph}"/>
<!--    <script src="dependencies.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//d3js.org/d3.v5.min.js"></script>
    <script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
    <script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>
<!--    <script src="http://viz-js.com/bower_components/viz.js/viz.js"></script>-->
    <script>
        var val = $("#graphSource").val();
        d3.select("#graph")
            .graphviz()
            .fit(true)
            .renderDot(val);
    </script>
</body>
</html>