<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Jam: Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="toast.css" />

    <script src="jquery-3.6.0.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <script src="toast.js"></script>
</head>
<body class="d-flex flex-column h-100" data-new-gr-c-s-check-loaded="14.1024.0" data-gr-ext-installed="">
    <div th:text="${message}"></div>
</body>
</html>