<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Jam</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="toast.css" />

    <script src="jquery-3.6.0.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <script src="toast.js"></script>
</head>
<body class="d-flex flex-column h-100" data-new-gr-c-s-check-loaded="14.1024.0" data-gr-ext-installed="">
    <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    <form class="flex-shrink-0" method="get" action="/dependencies">
        <div class="container">
            <h1 class="mt-5"><a class='logo' href='/' style="text-decoration: none; color: #212529">Jira abstraction with markdown</a></h1>
            <p class="lead">Set jira issue code to build dependency graph</p>
            <div class="col-auto" th:if="${error != null}">
                <div class="alert alert-danger" role="alert" th:text="${error}"></div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="issueCode" class="col-form-label">Issue code</label>
                </div>
                <div class="col-auto">
                    <input type="text" id="issueCode" name="issueCode" class="form-control" aria-describedby="passwordHelpInline">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Build</button>
                </div>
            </div>
            <hr/>
            <div class="card" style="width: 18rem;" th:if="${history!=null and !history.empty}">
                <div class="card-header">
                    History
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="entry,stat: ${history}" th:unless="${stat.index > 10}">
                        <a th:href="@{/dependencies?issueCode={id}(id=${entry})}" th:text="${entry}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</body>
</html>